{{! Previous/next page links - only displayed on page 2+
<div class="extra-pagination inner">
    {{!pagination
</div>
}}
{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
        <li class="c-blog__list__item">
            <img class="c-blog__list__item__image" src="{{image}}">
            <a href="{{url}}" class="o-container--boxed c-blog__list__item--wrapper">

                <div class="c-blog__titles ">
                    <h5 class="c-blog__subtitle  c-blog__subtitle c-blog__subtitle--list--header">
                        {{#foreach tags}}
                            <span title="{{name}}" class="tag-{{id}}">{{name}}</span> {{#if @last}}{{else}}/{{/if}}
                        {{/foreach}}
                    </h5>

                    <h3 class="c-blog__title fittext-mid">
                        {{{title}}}
                    </h3>
                    <h5 class="c-blog__subtitle c-blog__subtitle--list vibrant">{{excerpt words="26"}}</h5>
                </div>
            </a>
        </li>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{!pagination}}