<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/animate.min.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} c-blog">

    <main class="mnu-page__content">
        <div class="c-blog__logo" style="background-image:url({{@blog.logo}})">

        </div>

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="c-blog-footer o-container--full">
            <section class="c-blog-footer__copyright">
                <a class="c-blog-footer__logo" style="background-image:url({{@blog.logo}}" href="{{@blog.url}}"></a>
                <div>{{@blog.title}}</div>
            </section>
            <section class="c-blog-footer__poweredby">Powered by Banca Sella - All right reserved <a href="https://www.hype.it">HYPE</a> &copy; {{date format="YYYY"}}</section>
        </footer>
    </main>
    {{> "innernav"}}
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/vendor/jquery.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/jquery.fittext.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/jquery.waypoints.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/inview.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/Vibrant.js"}}"></script>

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/script.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/tiltfx.js"}}"></script>

</body>
</html>
